hr{
    margin: 0;
}

.rodape{
    background-color: #ffffff;
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-evenly;
        
    }

    .lista-rodape{
        display: block;
    }

    .lista__rodape__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista__rodape__link{
        color: #474646;
        text-decoration: none;

    }

    .lista-rodape__titulo{
        color: #858585;
        font-size: 14px;
    }

    .rodape__titulo{
        font-size: 24px;
        color: #000000;
    }
}


@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid #858585;
        padding-left: 1em;
    }

    .rodape{
        padding: 2em 0;
    }
}